@mixin buttonStyle($color){
  background: $color;
  padding: 5px 20%;;
  border: none;
  outline: none;
  border-radius: 5px;
}

@mixin locationDiv(){
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  padding: 0 30px 30px 30px;
  //grid-template-columns: 500px 500px 500px 500px;
  .user-container{
    position: relative;
    .image-select{
      position: absolute;
      height: 30%;
      width: 100%;
      background: #ffffff;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      padding-left: 10%;
      padding-right: 10%;
      box-sizing: border-box;
      visibility: hidden;
      .username{
        margin-bottom: 0 !important;
        font-size: 16px;
        font-weight: 500;
        color: #393293;
      }
      .location-div{
        @include locationDiv();
        color: #757575;
        p{
          margin-bottom: 0 !important;
          font-size: 12px;
          font-weight: 400;
        }
      }
      .button-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .like-button {
          @include buttonStyle(red);
          &:hover{
            cursor: pointer;
          }
          .fa-heart{
            background: red;
            color: #ffffff;
          }
        }

        .dislike-button {
          @include buttonStyle(#393293);
          &:hover{
            cursor: pointer;
          }
          .fa-thumbs-down{
            background: #393293;
            color: #ffffff;
          }
        }
      }
    }
  }

  .user-container:hover{
    cursor: pointer;
  }
  .user-container:hover .image-select{
    visibility: visible;
  }

.image-div{
  background-repeat: no-repeat !important;
  background-size:100% 100% !important;
  height: 300px;
  border-radius: 10px;
  position: relative;
  .user-details{
    color: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    p:nth-of-type(1){
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .location-div{
      @include locationDiv();
      p{
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 400;
      }
      .fa-map-marker-alt{
        font-size: 12px;
      }
    }
  }
}
}

/* spinner components*/
.loading {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 -14px;

  .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid rgb(73, 43, 122);
  }

  .mask {
    width: 15px;
    height: 15px;
    overflow: hidden;
  }

  .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
    animation: spin 1s infinite linear;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.empty-grid{
  text-align: center;
  margin-top: 40px;
}
